img.lazy{
	width: 	100%; 
	height: 15em;
}

* {
	font-family: 'Amaranth', sans-serif;	
}

.font-card{
	font-size:13px;
}

.row-card{
	width: 120%;
    margin-top: 10px
}

.jumbotron {
  margin-top: 	 13px; 	
  margin-bottom: 12px;
}

.jumbotron {
    padding-top: 36px;
    padding-bottom: 0px;
}

h1 {
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
}

input[type="text"],
select{
	height: 30px;
}

.card{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding: 5px;
}
